* {
font-family: "M PLUS Rounded 1c", "Noto Serif TC";
}
html {
height: 100%; }


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
}

header#checkout.jumbotron {
    background-image: url(https://res.klook.com/images/fl_lossy.progressive,q_65/c_fit,w_1295,h_720,f_auto/w_80,x_15,y_15,g_south_west,l_klook_water/activities/q75bagntcomdftmlz0pr/TeaCeremonyinHokkaido.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: green;
    margin-bottom: 0px;
    height: 720px;
    
}
header#checkout.jumbotron h4{
    color: green;
}


header#checkout.jumbotron .block {
    padding: 300px;
    width: 80%;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: 0%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}
header#checkout.jumbotron .col-icon {
    height: 100px;
}
header#checkout.jumbotron .col-icon img.tea, header#checkout.jumbotron .col-icon .home, header#checkout.jumbotron .col-icon i.fa.fa-caret-right, header.jumbotron .col-icon .finish_order, header.jumbotron .col-icon .checkout_form {
    display: inline-block;
    margin: 5px;
    letter-spacing: 2px;
}
header#checkout.jumbotron .col-icon .navigation {
    color: gray;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 20px;
}
header#checkout.jumbotron .col-icon .navigation .japanese {
    font-size: 5px;
}
header#checkout.jumbotron .col-icon .navigation .checkout_form {
    color: green;
    font-weight: 900;
}
header#checkout.jumbotron .col-icon img {
    width: 70px;
    padding-bottom: 20px;
    opacity: 1;
}

header#checkout.jumbotron .col-checkout .col-buy-left {
    padding: 25px
}
header#checkout.jumbotron .col-checkout .col-buy-right {
    padding: 25px
}
button.btn.btn-success,button.btn.btn-danger {
    border-radius: 20px 20px 20px 20px;
    padding: 5px 20px;
    margin: 0px 3px;
}
@media screen and (max-width: 600px){
    header#checkout.jumbotron {
        min-height: 2000px;
        background-size: auto 100%;
    }
    header#checkout.jumbotron .block{
        min-height: 2300px;
        padding: 0px;
        width: 95%;
        margin-bottom: 0%
        
    }
}