    * {
    font-family: "Noto Serif JP", "Noto Serif TC";
    }

    html{
    width: 100%;
    }

    header {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 0px;
    height: 800px;
    }
    
    .video-background {
    background: #000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
    box-sizing: border-box;
    }
    .video-foreground,
    .video-background iframe {
    position: absolute;
    top: 0;
    left: -5%;
    width: 105%;
    height: 105%;
    pointer-events: none;
    box-sizing: border-box;
    }
    @media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
    }
    }
    @media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
        left: -100%;
    }
    }
    @media all and (max-width: 600px) {
    .vid-info {
        width: 50%;
        padding: 0.5rem;
    }
    .vid-info h1 {
        margin-bottom: 0.2rem;
    }
    }
    

    section#tools {
    position: relative;
    }

    section#steps {
    position: relative;
    }

    #myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    // min-height: 300px;右側會有兩個Y軸
    }

    .container#header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    color: #2f5b28;
    }
    .row.top.header_item {
    animation-name: moving;
    animation-duration: 3s;
    }
    @keyframes moving {
        0% {
        transform: translateY(-50px);
        }
        100% {
        transform: translateY(0px);
        }
    }
    .container#header .poet {
    border-left: solid 1px white;
    color: white;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    padding: 8px;
    letter-spacing: 3px;
    }
    .container#header .vrl {
    writing-mode: vertical-lr;
    }
    .container#header .text#img {
    padding-top: 15px;
    }
    .container#header h1 {
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
    }
    .container#header h3 {
    font-size: 16px;
    color: white;
    opacity: 0.5;
    letter-spacing: 3px;
    }
    .container#header img {
    width: 100%;
    opacity: 0.5;
    }
    .container#header .top {
    height: 150px;
    }
    .container#header .bottom {
    position: absolute;
    text-align: center;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    }
    .container#header .bottom h1 {
    color: white;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 5px;
    }
    h1.title {
        font-size: 24px;
    }
    p.vrl {
        margin: 0px;
    }
    section#tools {
    background-color: #efeff0;
    margin-top: 0px;
    }

    
    section#tools .powder_box,section#tools .tea,section#tools .cover {
    min-height: 550px;
    }
    section#tools .powder_box:hover img#powder_spoon {
    transform: scale(1.2) translateX(-50%);
    }
    section#tools .powder_box:hover .text {
    opacity: 0.6;
    }
    section#tools .powder_box .img {
    z-index: 3;
    }
    section#tools .powder_box .text {
    z-index: 5;
    color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: 1s;
    letter-spacing: 1px;
    line-height: 25px;
    position: absolute;
    top: 15%;
    }
    section#tools .powder_box .text .title {
    border-bottom: solid 1px #b4b4b4;
    width: 110%;
    padding-bottom: 5px;
    z-index: -3;
    }
    section#tools .powder_box .text .intro {
    padding-top: 5px;
    }
    section#tools .powder_box img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    }
    section#tools .powder_box img#powder_box {
    z-index: 3;
    top: 45%;
    }
    section#tools .powder_box img#powder_spoon {
    z-index: 3;
    bottom: 20%;
    transition: 0.5s;
    }
    section#tools .powder_box img#shadow {
    z-index: 1;
    left: 60%;
    top: 45%;
    }

    
    section#tools .tea:hover img#brush {
    transform: scale(1.2) translate(-45%, -47%);
    }
    section#tools .tea:hover .text_top {
    opacity: 0.6;
    }
    section#tools .tea .text_top {
    color: rgba(0,0,0,0.4);
    transition: 1s;
    letter-spacing: 1px;
    line-height: 25px;
    opacity: 0;
    position: absolute;
    top: 20%;
    width: 120%;
    }
    section#tools .tea .text_top .title {
    border-right: solid 1px #b4b4b4;
    width:30%;
    padding-right: 10px;
    text-align: right;
    height: 180px;
    position: absolute;
    }
    section#tools .tea .text_top .intro {
    padding-left: 10px;
    top: -5%;
    left: 30%;
    position: absolute;

    }
   
    section#tools .tea img#tea {
    position: absolute;
    left: 48%;
    top: 63%;
    transform: translate(-50%, -50%);
    }
    section#tools .tea img#brush {
    position: absolute;
    left: 52%;
    top: 65%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    }
    section#tools .tea img#tea_shadow {
    opacity: 0.7;
    position: absolute;
    left: 75%;
    top: 78%;
    transform: translate(-50%, -50%);
    }




   
    section#tools .cover:hover img#cover {
    transform: translate(-70%, -50%);
    }
    section#tools .cover:hover .text {
    opacity: 0.6;
    }
    section#tools .cover .text {
    color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: 1s;
    letter-spacing: 1px;
    line-height: 25px;
    position: absolute;
    width: 100%;
    top: 20%;
    }
    section#tools .cover .text .title {
    border-right: solid 1px #b4b4b4;
    width: 50%;
    position: absolute;
    top: 50%;
    padding-right: 10px;
    text-align: right;
    height: 150px;
    }
    section#tools .cover .text .intro {
    padding-left: 1px;
    position: absolute;
    left: 53%;
    }
    section#tools .cover img#shadow {
    position: absolute;
    left: 60%;
    top: 68%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    }
    section#tools .cover img#cover {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: 1s;
    }
    section#tools .cover img#powder_box {
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(165deg) scale(1.5);
    }

    section#steps .line {
    position: absolute;
    left: 50%;
    transform: translateX(-20%);
    top: 300px;
    width: 750px;
    border-bottom: solid 1px #94aa8d;
    z-index: 3;
    }
    section#steps .line01 {
    top: 190px;
    }
    section#steps .line02 {
    left: 20%;
    top: 990px;
    }
    section#steps .line03 {
    top: 1780px;
    width: 500px;
    left: 43%;
    }
    section#steps .line04 {
    top: 2040px;
    width: 500px;
    left: 36%;
    }
    section#steps .row {
    margin-top: 200px;
    margin-bottom: 150px;
    z-index: 1;
    }
    section#steps .img {
    padding-left: 0px;
    }
    section#steps .img img {
    width: 100%;
    padding-left: 0px;
    }
    section#steps .col-md-4.cup img {
    height: 90%;
    width: 90%;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-bottom: 20px;
    }
    section#steps .content {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    padding: 0px 150px;
    color: #7d7881;
    }
    section#steps .content.content03 {
    padding: 0px 50px;
    }
    section#steps .content h1 {
    font-size: 36px;
    letter-spacing: 5px;
    margin-bottom: 12px;
    }
    section#steps .content h4 {
    font-size: 16px;
    margin-bottom: 24px;
    }
    section#steps .content p {
    font-size: 16px;
    letter-spacing: 5px;
    line-height: 36px;
    padding-top: 20px;
    }
   
    img#step02.mb-5 {
        padding-right: 0px;
    }
    .col-md-6.img {
        padding-right: 0px;
    }

    footer.jumbotron {
    height: 800px;
    text-align: center;
    background-image: url("https://storage.googleapis.com/vue-course-api.appspot.com/ecommerce_project%2F1612841323024.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=NhO2IzC5WNfppcpp30fVjoExnKR1bAM6rQYAkpMH4%2BtxNqBllaXAobM9nRpKULYRltLiZOz1vvt23xbPEmoUi5RmGvsKELR9hdf5xPg5SkPggkCyHYEwMeGt4AGVb2Og22%2F2YoUwI2RzxA61jVU3kEWYawZgt3uSH3Gk9%2BGFQdpImb5lKD%2BnCsd3fSvl9ikmUKntbvhmVQ2su2RBPUgaeVvB2YzqHlbWznkaReFYgZMz0kX3zXkBUlJY5iRW7kvmV5ZELjljDAQbKXa%2B6jy39ZkLL%2FltE1WRrVCb%2FqNnHdgFFwqfA2J6e1%2BjU3iemT7dCdbVNHVL40KXqW1im6Tq3w%3D%3D");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    }
    footer.jumbotron .container {
    color: white;
    text-align: center;
    }
    footer.jumbotron .container .poet {
    border-left: solid 1px white;
    color: white;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    padding: 8px;
    letter-spacing: 3px;
    }
    footer.jumbotron .container img {
    width: 100%;
    opacity: 0.7;
    }
    footer.jumbotron .container .vrl {
    writing-mode: vertical-lr;
    }
    footer.jumbotron .container h1 {
    font-size: 28px;
    letter-spacing: 5px;
    position: relative;
    top: 500px;
    left: 50%;
    transform: translate(-50%,-50%);
    }
    footer.jumbotron .container a#footer {
        font-size: 16px;
        letter-spacing: 5px;
        position: relative;
        top: 500px;
        padding: 5px 30px;
        border-radius: 100px;
        cursor: pointer;
    }
    .btn#footer:link,
    .btn#footer:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: absolute;
    cursor: pointer;
    }

    .btn#footer:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .btn#footer:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .btn-white {
    background-color: #fff;
    color: #777;
    }

    .btn#footer::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    }

    .btn-white::after {
    background-color: #fff;
    }

    .btn#footer:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    }

    .btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
            animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
    }

    @-webkit-keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
    }

    @keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
    }
    footer.jumbotron .container h3 {
    font-size: 16px;
    letter-spacing: 5px;
    position: relative;
    top: 500px;
    transform: translateY(-50%);
    opacity: 0.6;
    }
    .orderlast {
        order: -1;
    }
    @media screen and (max-width: 600px) {
        
        header#video {
            height: 580px;
        }
        .col-md-4.poets {
            display: none;
        }
        .text-header {
            position: relative;
            text-align: center;
            top: -55%;
        }
        .col-md-12.main-header {
            position: absolute;
            width: 300px;
            top: 10%;
            left: 55%;
            transform: translate(-50%,-80%);
        }
        .col-md-12.col-sm-12.main-header h1 {
            font-size: 32px;
            line-height: 40px;
        }
        .col-md-4 img#icon {
            width: 25%;
            position: relative;
            top: 10%;
            left: 50%;
            transform: translate(-50%,-50%);
            margin-bottom: 0px;
        }
        img#icon {
            width: 25%;
            margin-bottom: 30px;
        }
        .title p {
            display: none;
        }

        section#tools .powder_box, section#tools .tea,section#tools .cover {
            display: none;
        }


        section#steps .line {
            display: none;
        }


        footer.jumbotron {
            height: 650px;
            position: relative;
        }
        footer.jumbotron img#icon{
            top: 50%;
            left: 50%;
            transform: translate(-50%,120%);
            position: absolute;
        }
        footer.jumbotron .text-center {
            position: absolute;
            left: 15%;
            transform: translateY(-120px);
            cursor: pointer;
        }
        
        footer.jumbotron .container .col-md-4.poets {
            opacity: 1;
            top: 50%;
            left: 50%;
            transform: translate(0%,0%);
            position: absolute;
        }
        footer.jumbotron .container .col-md-4.footer_content {
            opacity: 1;
            justify-content: center;
            position: absolute;
            margin-bottom: 100px;
        }
        footer.jumbotron .container h1#footer {
            top: 700%;
            position: absolute;
            min-width: 350px;
            
        }
        // footer.jumbotron .container h1#footer {
        //     position: absolute;
        //     bottom: 5000%;
        //     min-width: 350px;
        // }
        // footer.jumbotron .container h3#footer {
        //     position: absolute;
        //     bottom: 800%;
        //     min-width: 350px;
        // }
        // footer.jumbotron .container a#footer {
        //     position: absolute;
        //     bottom: 600%;
        //     min-width: 150px;
        // }
        
        // .container-fluid {
        //     min-height: 3000px;
        // }
        section#steps .content {
        padding: 0px 50px;
        align-items: center;
        }
        .orderlast {
        order: 1;
        }
       

    }